li a{
  @apply hover:text-[#3333FF]
}


.firstsect{
  background: url('./assets/kelly-sikkema-2qoO6WnHubA-unsplash.jpg') center/cover;

  /* Ensure the background covers the entire element */
  position: relative;

  /* Size and position of the overlay */
  z-index: 1;
}


.overlay {
  /* Position the overlay on top of the background */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* Semi-transparent black color */
  background-color: rgba(0, 0, 0, 0.856); /* Adjust the alpha value (0.5) for the desired darkness */
}
